{# src/VA/PlatformBundle/Resources/views/Default/car.html.twig #}

{% extends "VAPlatformBundle::layout.html.twig" %}

{% block title %}
    Car | {{parent()}}
{% endblock %}

{% block body %}
    {% block nav %}
       {{parent()}} 
    {% endblock %}
 
    {% block content %}
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">{{voiture.name}}</h2>
                        <h2 class="section-subheading text-muted">{{voiture.model}}</h2>
                        <h3 class="section-subheading text-muted">{{voiture.year}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <ul class="bxslider">
                                <li><img src="{{asset(voiture.image)}}"/></li>
                                
                            </ul>
                        </div>   
                        <div class="col-md-6">
                            <div id="description">
                                <h3 class="service-heading">Description</h3>
                                <ul>
                                    <li>Marque : {{voiture.name}}</li>
                                    <li>Modèle : {{voiture.model}}</li>
                                    <li>Fuel : {{voiture.fuel}}</li>
                                    <li>Année : {{voiture.year}}</li>
                                    <li>Cylindrée : {{voiture.displacement}} cm³</li>
                                    <li>Carrosserie : {{voiture.bodytype}}</li>
                                    <li>Description : {{voiture.description}}</li>
                                </ul>
                            
                            <div class="text-center">
                                <img src="{{ qrcode_url(app.request.getUri()|trim('/'), extension='png') }}" />
                            </div>
                            <div class="text-right">
                                <img src="{{asset('img/print.png')}}" alt="print" onclick="javascript:window.print()"/>
                                <img src="{{asset('img/warning.png')}}" alt="Erreur"/>
                                <a 
                                    href="  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                {{ path('ad_platform_addfav', {'id': voiture.id}) }}
                                            {% else %}
                                                {{ path('fos_user_security_login')}}
                                            {% endif %}">
                                    <img src="{{asset('img/favourite.png')}}" alt="Favoris" />
                                </a>
                                    
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row text-center">


                </div>
            </div>
        </section>
        
    {% endblock %}
{% endblock %}
    
