{# src/VA/PlatformBundle/Resources/views/Default/faq.html.twig #}

{% extends "VAPlatformBundle::layout.html.twig" %}

{% block title %}
    FAQ | {{parent()}}
{% endblock %}

{% block body %}
    {% block nav %}
       {{parent()}} 
    {% endblock %}
 
    {% block content %}
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">FAQ</h2>
                    </div>
                </div>
                <div id="faq">
                    <img src="{{ 'img/mercedes.jpg'|imagine_filter('recherche') }}" alt="test" />
                    <ul>
                        <li>
                            <h3>Quel est le but de "QrCar.be" ?</h3>
                            <p>Le premier but est de regrouper le maximum d'information de voiture ancienne 
                            pour que l'amateur puisse y trouver rapidement les informations qu'il cherche.
                            Le second but est lors de concentration de voiture, le propriétaire pourra à l'aide
                            d'un QrCode appliqué sur sa voiture, présenter son modèle au publique en possession 
                            d'un smartphone.</p>
                        </li>
                        <li>
                            <h3>Qu'est ce qu'un QrCode ?</h3>
                            <p>Le code QR (de l'anglais, QR Code) est une sorte de code barre en 2D.
                            Pour lire un QR Code, il suffit de lancer l'application de lecture et viser le code dans le mobile.
                            <br/>
                            Exemple:</p>
                            <div id="logo_app">
                                <img src="{{ qrcode_url(app.request.getUri()|trim('/'), extension='png') }}" />
                            </div>
                        </li>
                        <li>
                            <h3>Avec quelle application ?</h3>
                            <p>Il y a une multitude d'application gratuite et rapide à installer : <br />
                            <div id="logo_app">
                                <a href="https://play.google.com/store/apps/details?id=la.droid.qr&hl=fr"><img src="{{asset('img/android.png')}}" alt="" /></a>
                                <a href="https://itunes.apple.com/us/app/scanner-qr-code-reader-app/id834854351?mt=8"><img src="{{asset('img/apple.png')}}" alt="" /></a>
                            </div>
                                </p>
                        </li>
                        <li>
                            <h3>Vos infos sont elles vérifiée ?</h3>
                            <p>QrCar est une communauté de passionnés automobile. Les fiches sont créées par des amateurs et les informations sont communiquées et partagée par ses derniers. 
                                QrCar fait confiance à ses utilisateurs pour fournir les informations les plus précises possible. 
                                QrCar n'est pas responsable s'il y a des erreurs dans les fiches du site.</p>
                        </li>
                        <li>
                            <h3>Les photos sont elles libre de droit ?</h3>
                            <p>Chaque fiche est accompagnée d'une photo. Lors de la création d'une fiche, l'utilisateur reconnait être le propriétaire de la photo et
                            permet à QrCar de l'utiliser pour promouvoir son site via les réseaux sociaux.</p>
                        </li>
                        <li>
                            <h3>Et l'anonymat des propriétaires ?</h3>
                            <p>Il n'est visible nulle part le lien entre le compte et la fiche de la voiture. Nous vous invitons de <b>flouter la plaque de votre véhicule</b> lors
                            de la creation de la fiche. QrCar n'est pas responsable, si votre numéro de plaque est affiché sur notre site, de quelconque mauvaise utilisations
                            de votre photo.</p>
                        </li>
                        <li>
                            <h3>Une question ? </h3>
                            <p>Voici notre email ? <a href="mailto:info@qrcar.be">info@qrcar.be</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    {% endblock %}
{% endblock %}
