{# src/VA/PlatformBundle/Resources/views/Default/index.html.twig #}

{% extends "VAPlatformBundle::layout.html.twig" %}

{% block title %}
    Home | {{parent()}}
{% endblock %}

{% block meta_og %}
    <meta property="fb:app_id" content="161180510924982" />
    <meta property="og:url"   content="http://qrcar.be" />
    <meta property="og:title" content="Bienvenue sur QrCar.be !" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="A la recherche d'info sur une voiture ?" />
    <meta property="og:image" content="http://qrcar.be{{asset('img/mercedes.jpg')}}" />
{% endblock %}


{% block body %}
    {% block nav %}
       {{parent()}} 
    {% endblock %}
 
    {% block content %}
        <div id="index">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Bienvenue sur QrCar !</div>
                    <h3>Nous avons {{voiture|length}} voitures référencées !</h3>
                    <div class="col-md-12 form_index">
                        <form action="{{ path('va_platform_search')}}" method="get">
                            <input placeholder="Une marque, un modèle ?" type="text" class="form-control" name="formHome" autofocus>
                            
                            <button type="submit" id="button_recherche" class="btn btn-default btn-lg">
                                <i class="fa fa-search"></i> Go!
                            </button>
                        </form>
                    </div>
                    <div class="intro-heading">Trouvez votre voiture !</div>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- QrCar -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-6689823655502501"
                         data-ad-slot="3648270872"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
        {% block footer %}{% endblock %}
    {% endblock %}
    
{% endblock %}

