<ul class="nav nav-pills nav-stacked">
  {% for cars in app.user.favourites|slice(0,6) %}
    <li>
          <div class="col-md-4 text-center">
                 <a href='{{path('va_platform_car',{slugurl:cars.slugurl})}}'>
                    <h3>{{ cars.name}}</h3>
                    <h4>{{cars.model}}</h4>
                    <h4>{{cars.year}}</h4>
                    <h4>{{cars.displacement}} cm³</h4>
                    {% set img = kernelRootDir~'/../../../../../'~cars.image~'' %}
                    <img src="{{ img|imagine_filter('recherche') }}" alt="{{ cars.name}}{{ cars.model}}" />
                </a>  
          </div>
    </li>
  {% endfor %}
</ul>