<ul class="nav nav-pills nav-stacked">
  {% for cars in listCars %}
        {% if cars.report == false %}
            <li>
                <div class="col-md-4 text-center rech_voiture">
                    <a href='{{path('va_platform_car',{slugurl:cars.slugurl})}}'>
                        <h3>{{ cars.name}}</h3>
                        <h4>{{cars.model}}</h4>
                        <h4>{{cars.year}}</h4>
                        <h4>{{cars.displacement}} cm³</h4>
                        {% set img = kernelRootDir~'/../../../../../'~cars.image~'' %}
                        <img src="{{ img|imagine_filter('recherche') }}" alt="{{ cars.name}}{{ cars.model}}" />
                    </a>
                    <br />
                    <div id="carscontrol">
                        {% if (app.user == cars.user) or (is_granted('ROLE_SUPER_ADMIN')) %}
                            <a href="{{path('ad_plaform_delete',{id:cars.id})}}"><img src="{{asset('img/delete.png')}}" alt="" /></a>
                            <a href="{{path('ad_platform_editcar', {id:cars.id})}}"><img src="{{asset('img/edit.png')}}" alt="" /></a>
                        {% endif %}
                        <a href="{{path('ad_platform_qrcode', {slugurl:cars.slugurl})}}" target="_blank" ><img src="{{asset('img/technology.png')}}" alt="" /></a>
                    </div>
              </div>
            </li>
        {% endif %}
  {% endfor %}
</ul>

